<h1> Articles Page - Welcome </h1>
<p><%= link_to "Create New Article", new_article_path %></p>

  <% @articles.each do |a| %>

      <div class="form-group">
      <div class="col-sm-12">
        <div class="well well-lg">
          <div class="article-title">
            <%= link_to a.title, article_path(a) %>
          </div>
          <div class="article-body">
            <%= truncate(a.description, length: 100) %>
          </div>
          <div class="article-actions">
            <%= link_to "Delete", article_path(a), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
          </div>
        </div>

      </div>
    </div>
  <% end %>
