
<div class="jumbotron">
  <h1 class="display-4">Welcome to Scott's blog!</h1>
  <p class="lead">Where all the cool people hang out!</p>
  <hr class="my-4">
  <p>Sign up to start the fun!</p>
  <%# <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a> %>
  <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>
