@import 'bootstrap/dist/css/bootstrap';

.page_info{
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
  }
#logo{
  float: left;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.well{
  background-color: lightgray;
}
//.navbar {
//background-color: #FDF6EA !important;
//}
.main_table, th, td{
  border: 1px solid black;
  padding: 10px;
  font-size: 1.0em;
}
.alert-title{
  font-size: 1.0em;
}
.nav-link{
  font-size: 1.0em;
}

.nav-link:hover{
  font-weight: bold;
}

.jumbotron{
  background-image: asset-url('back3.jpg');
  background-size:  cover;
  height: 550px;
}

.jumbotron h1{
  color: #fff;
}
.text-welcome{
  color: white;
}
